.input {
  background-color: #316282;
  padding: 10px;
  color: #ffffff;
  border: none;
  outline: 0;
}

.inout::placeholder {
  color: #c7c7c7;
  font-style: italic;
}

.fullwidth {
  width: 100%;
}